{% load staticfiles %}
<!DOCTYPE html>
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <script type="text/javascript" src='{% static 'jquery/dist/jquery.js' %}'></script>
        <script type="text/javascript" src='{% static 'js/scripts.js' %}'></script>
        <link href="{% static 'css/style.css' %}" rel="stylesheet">
        <link href="{% static 'bootstrap/dist/css/bootstrap.css' %}" rel="stylesheet">
        <link href="{% static 'bootstrap/dist/css/bootstrap-theme.css' %}" rel="stylesheet">
        <link href="{% static 'components-font-awesome/css/font-awesome.min.css' %}" rel="stylesheet">
    </head>
    <body>
        <div class="main-container container">
            <div class="page-header">
                <h3>{% block page_header %}{% endblock %}</h3>
            </div>
            {% block body %}{% endblock %}
        </div>
    </body>
</html>